<nav>
  <a routerLink="/home"><img src="../assets/Joe-Smack-Head.jpg" /></a>
  <a routerLink="/recette-list/entree"> <button>Entree</button> </a>
  <a routerLink="/recette-list/plat"> <button>Plat</button> </a>
  <a routerLink="/recette-list/patisserie"> <button>Patisserie</button> </a>
  <a routerLink="/recette-list/all"> <button>A-Z</button> </a>
  <a routerLink="/recette-ajout"> <button class="fa fa-plus-square-o btn-small"></button> </a>
</nav>

<main [ngStyle]="mainStyle">
  <router-outlet></router-outlet>
</main>

