<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Ajouter une recette</h1>
	<strong>
		Vous pouvez ajouter une nouvelle recette via cette page. La recette ne sera ajoutée que si vous possedez la bonne clef secrète.
	</strong> <br /><br />
    
    SecretKey: 
    <input type="text" formControlName="secretKey" class="form-control" /> <br />

    Titre: 
    <input type="text" formControlName="title" class="form-control" /> <br />

    Type:
    <select formControlName="type" class="form-control"> 
        <option value="entree">entree</option>
        <option value="plat">plat</option>
        <option value="patisserie">patisserie</option>
    </select> <br />

    Prix: 
    <input type="number" formControlName="prix" class="form-control" /> <br />

    Temps de préparation: 
    <input type="number" formControlName="prepDuration" class="form-control" /> <br />

    Nombre de personnes: 
    <input type="number" formControlName="nbPersonnes" class="form-control" /> <br />

    Ingredients: 
    <input type="text" formControlName="ingredients" class="form-control" /> <br />

    Illustration: 
    <input type="file" formControlName="img" (change)="onFileChange($event)" class="form-control" /> <br />

    Recette: 
    <input type="text" formControlName="text" class="form-control" /> <br /><br />
    
    <button type="submit" [disabled]="!form.valid">Ajouter</button>
</form>
